.login {
  background: #e6e6e6;
  /* border-bottom: 1px solid #ccc; */
  margin-top: 100px;
}

.login form {
  width: 35%;
  margin: 50px 0;
  padding: 50px;
  border: 1px solid #ddd;
}

@media (max-width: 768px) {
  .login form {
    width: 80%;
    margin: 30px 0;
    padding: 25px 30px;
  }
}

.authForm form {
  width: 75%;
}

.authForm .login .bg-light {
  background: #fff !important;
}

@media (max-width: 991px) {
  .authForm form {
    width: 80%;
    margin: 0;
  }

  .authForm .register .login {
    margin: 10px !important;
  }
}
