.footerCopyRights {
  background-color: #787878;
  font-size: 0.8rem;
}

footer {
  background-color: #e6e6e6;
  font-size: 0.9rem;
}

footer a {
  color: #666;
}

.footerLinks {
  border-top: 1px solid #666;
}

.footerLinks a {
  margin: 0 15px;
  text-decoration: none;
  font-size: medium;
}

.footerLinks a:hover {
  color: #165d3d;
  font-weight: 600;
}

@media (max-width: 991px) {
  .footerLinks li {
    padding: 5px 0;
  }
}
